@media screen and (max-width:499px) {
    .body {
        -ms-overflow-style: none; /* IE and Edge */ 
        scrollbar-width: none; /* Firefox */
    }

    .body::-webkit-scrollbar{ 
        display: none; width: 0; /* Remove scrollbar space */ 
        height: 0; 
        background: transparent; /* Optional: just make scrollbar invisible */ 
        -webkit-appearance: none; 
    }

    .welcome-header {
        padding: 0 var(--small-horizontal-space);
        background-color: transparent;
    }

    .welcome-header__logo,
    .welcome-header__list,
    .welcome-header__settings {
        display: none;
    }

    .welcome-header__mobile-btn {
        display: block;
        width: 100%;
        height: 50px;
        background-color: #f6f6f6;
        border: none;
        border-radius: 40px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    .mobile-header__icon--pink {
        color: #ff3152;
        margin-right: 10px;
    }

    .search-div {
        display: none;
    }

    .home-aside {
        padding: 0;
        height: 160vw;
    }

    .home-aside__image {
        border-radius: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-aside__text {
        display: none;
    }

    .home-aside::after {
        content: "어디든 상관없이\A떠나고 싶을 때\A에어비앤비가 도와드립니다!";
        white-space: pre;
        color: white;
        font-size: 24px;
        position: absolute;
        bottom: 140px;
    }

    .home-aside__btn {
        width: 125px;
        height: 50px;
        bottom: 60px;
        font-size: 16px;
    }
    .home-screen {
        padding: 0 var(--small-horizontal-space);
        overflow: hidden;
    }

    .home-screen__location {
        margin: 10px 0 20px 0;
    }

    @keyframes slideLocation {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-63%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .home-location-content {
        width: 230vw;
        height: 73vw;
        animation: slideLocation 7s ease-in-out infinite;
    }

    .home-screen__title {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 25px;
    }

    .home-location__name {
        font-size: 25px;
        padding: 20px 0 10px 15px;
    }

    .home-location__distance {
        font-size: 15px;
        font-weight: 200;
    }

    .home-experiment-content {
        flex-direction: column;
        height: 280vw;
    }

    .home-experiment-box {
        width: 100%;
        height: 49%;
    }

    .home-experiment__img {
        object-fit: cover;
    }

    .home-experiment__text {
        font-size: 25px;
        top: 30px;
        left: 30px;
    }

    .home-main__btn {
        font-size: 16px;
        font-weight: 500;
    }

    .home-experiment__btn {
        top: 105px;
        left: 30px;
    }

    .home-screen__qna {
        margin: 30px 0;
        height: 120vw;
    }

    .home-qna__img {
        object-fit: cover;
    }

    .home-qna__title {
        top: 30px;
        left: 30px;
        font-size: 25px;
    }

    .home-qna__btn {
        bottom: 30px;
        left: 30px;
    }

    .home-footer {
        padding: 0 var(--small-horizontal-space);
    }

    .home-footer-list {
        padding: 10px 0 0 0;
        flex-direction: column;
    }

    .home-footer__section {
        width: 100%;
        padding: 30px 0 15px 0;
        border-bottom: 1px solid var(--little-gray);
    }

    .home-footer__section:last-child {
        border-bottom: none;
    }

    .home-footer__title {
        margin-bottom: 15px;
    }

    .home-footer__ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-footer__a {
        word-break: keep-all;
        font-size: 14px;
        font-weight: 400;
    }

    .home-footer-inc {
        flex-direction: column-reverse;
        font-size: 15px;
        align-items: flex-start;
    }

    .home-footer__right {
        padding-bottom: 20px;
    }

    .home-footer-language__btn {
        margin-left: 0;
    }

    .home-footer-language__text {
        font-weight: 600;
        padding-left: 5px;
    }

    .home-footer-icons {
        display: none;
    }

    .home-footer-inc__left {
        flex-direction: column;
        align-items: flex-start;
        font-weight: 300;
        font-size: 13px;
    }

    .home-footer-title {
        padding-bottom: 10px;
    }

    .home-footer-policy__item:first-child:before {
        content: none;
    }

    .privacy-box {
        display: none;
    }
}

@media screen and (min-width:500px) and (max-width:743px){
    .body {
        -ms-overflow-style: none; /* IE and Edge */ 
        scrollbar-width: none; /* Firefox */
    }

    .body::-webkit-scrollbar{ 
        display: none; width: 0; /* Remove scrollbar space */ 
        height: 0; 
        background: transparent; /* Optional: just make scrollbar invisible */ 
        -webkit-appearance: none; 
    }

    .welcome-header {
        padding: 0 var(--bigger-horizontal-space);
        background-color: transparent;
    }

    .welcome-header__logo,
    .welcome-header__list,
    .welcome-header__settings {
        display: none;
    }

    .welcome-header__mobile-btn {
        display: block;
        width: 100%;
        height: 50px;
        background-color: #f6f6f6;
        border: none;
        border-radius: 40px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    .mobile-header__icon--pink {
        color: #ff3152;
        margin-right: 10px;
    }

    .search-div {
        display: none;
    }

    .home-aside {
        padding: 0;
        height: 160vw;
    }

    .home-aside__image {
        border-radius: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-aside__text {
        display: none;
    }

    .home-aside::after {
        content: "어디든 상관없이\A떠나고 싶을 때\A에어비앤비가 도와드립니다!";
        white-space: pre;
        color: white;
        font-size: 30px;
        position: absolute;
        bottom: 140px;
    }

    .home-aside__btn {
        width: 125px;
        height: 50px;
        bottom: 60px;
        font-size: 16px;
    }
    .home-screen {
        padding: 0 var(--bigger-horizontal-space);
        overflow: hidden;
    }

    .home-screen__location {
        margin: 10px 0 20px 0;
    }

    @keyframes slideLocation {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-63%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .home-location-content {
        width: 230vw;
        height: 73vw;
        animation: slideLocation 7s ease-in-out infinite;
    }

    .home-screen__title {
        font-size: 27px;
        padding-bottom: 25px;
    }

    .home-location__name {
        font-size: 25px;
        padding: 20px 0 10px 15px;
    }

    .home-location__distance {
        font-size: 15px;
        font-weight: 200;
    }

    .home-experiment-content {
        flex-direction: column;
        height: 280vw;
    }

    .home-experiment-box {
        width: 100%;
        height: 49%;
    }

    .home-experiment__img {
        object-fit: cover;
    }

    .home-experiment__text {
        font-size: 35px;
        top: 30px;
        left: 30px;
    }

    .home-main__btn {
        font-size: 18px;
        font-weight: 500;
    }

    .home-experiment__btn {
        top: 125px;
        left: 30px;
    }

    .home-screen__qna {
        margin: 30px 0;
        height: 120vw;
    }

    .home-qna__img {
        object-fit: cover;
    }

    .home-qna__title {
        top: 50px;
        left: 50px;
        font-size: 40px;
    }

    .home-qna__btn {
        bottom: 40px;
        left: 50px;
    }

    .home-footer {
        padding: 0 var(--bigger-horizontal-space);
    }

    .home-footer-list {
        padding: 10px 0 0 0;
        flex-direction: column;
    }

    .home-footer__section {
        width: 100%;
        padding: 30px 0 15px 0;
        border-bottom: 1px solid var(--little-gray);
    }

    .home-footer__section:last-child {
        border-bottom: none;
    }

    .home-footer__title {
        margin-bottom: 15px;
    }

    .home-footer__ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-footer__a {
        font-size: 15px;
        word-break: keep-all;
    }

    .home-footer-inc {
        flex-direction: column-reverse;
        font-size: 15px;
        align-items: flex-start;
    }

    .home-footer__right {
        padding-bottom: 20px;
    }

    .home-footer-language__btn {
        margin-left: 0;
    }

    .home-footer-language__text {
        font-weight: 600;
        padding-left: 5px;
    }

    .home-footer-icons {
        display: none;
    }

    .home-footer-inc__left {
        flex-direction: column;
        align-items: flex-start;
    }

    .home-footer-title {
        padding-bottom: 10px;
        font-weight: 600;
    }

    .home-footer-policy__item:first-child:before {
        content: none;
    }

    .privacy-box {
        display: none;
    }
}

@media screen and (min-width:744px) and (max-width:949px) {
    .welcome-header {
        padding: 0 var(--bigger-horizontal-space);
    }

    .welcome-header__btn:first-child,
    .welcome-header__btn:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
    }

    .search-div {
        padding: 0 var(--bigger-horizontal-space);
        box-sizing: border-box;
    }

    .search-form {
        width: 100%;
    }

    .search-form__input input {
        width: 95px;
        margin-left: 23px;
        text-overflow: ellipsis;
    }
    .search-form__input {
        padding-left: 10px;
    }

    .search-form__place {
        width: 23%; 
    }

    .search-form__number {
        width: 31%;
    }

    .search-form__title {
        font-size: 13px;
        font-weight: 700;
        margin: 18px 0 6px 25px;
    }

    .search-form__check-in,
    .search-form__check-out  {
        width: 23%;
    }

    .search-form__number-btn {
        right: 10px;
    }

    .home-aside {
        padding: 0;
    }

    .home-aside__image {
        border-radius: 0;
        height: 550px;
        object-fit: cover;
    }

    .home-aside__text {
        font-size: 35px;
        bottom: 140px;
    }

    .home-aside__btn {
        width: 125px;
        height: 50px;
        bottom: 60px;
        font-size: 16px;
    }
    .home-screen {
        padding: 0 var(--bigger-horizontal-space);
        overflow: hidden;
    }

    .home-screen__location {
        margin: 10px 0 20px 0;
    }

    @keyframes slideLocation {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-35%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .home-location-content {
        width: 135vw;
        height: 43vw;
    }

    .home-location-content:hover{
        animation: slideLocation 7s ease-in-out infinite;
    }

    .home-screen__title {
        font-size: 27px;
        padding-bottom: 25px;
    }

    .home-location__name {
        font-size: 25px;
        padding: 20px 0 10px 15px;
    }

    .home-location__distance {
        font-size: 15px;
        font-weight: 200;
    }

    .home-experiment__text {
        font-size: 38px;
        top: 30px;
        left: 30px;
    }

    .home-main__btn {
        font-size: 18px;
        font-weight: 500;
    }

    .home-experiment__btn {
        top: 125px;
        left: 30px;
    }

    .home-screen__qna {
        margin: 50px 0;
    }

    .home-qna__title {
        top: 50px;
        left: 50px;
        font-size: 55px;
    }

    .home-qna__btn {
        bottom: 40px;
        left: 50px;
    }

    .home-footer {
        padding: 0 var(--bigger-horizontal-space);
    }

    .home-footer-list {
        padding: 10px 0 0 0;
        flex-direction: column;
    }

    .home-footer__section {
        width: 100%;
        padding: 30px 0 15px 0;
        border-bottom: 1px solid var(--little-gray);
    }

    .home-footer__section:last-child {
        border-bottom: none;
    }

    .home-footer__title {
        margin-bottom: 15px;
    }

    .home-footer__ul {
        display: grid;
        grid-template-columns: 8fr 7fr 7fr;
    }

    .home-footer__a {
        font-size: 15px;
        word-break: keep-all;
    }

    .home-footer-inc {
        flex-direction: column-reverse;
        font-size: 15px;
    }

    .home-footer__right {
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .home-footer-language__text {
        font-weight: 600;
    }

    .home-footer-icons {
        margin-left: 30px;
    }

    .home-footer-inc__left {
        flex-direction: column;
        justify-content: center;
    }

    .home-footer-title {
        padding-bottom: 10px;
        font-weight: 600;
    }

    .home-footer-policy__item:first-child:before {
        content: none;
    }
}

@media screen and (min-width:950px) and (max-width:1125px) {
    .welcome-header {
        padding: 0 var(--bigger-horizontal-space);
    }

    .home-aside {
        padding: 0;
    }

    .home-aside__image {
        border-radius: 0;
    }

    .home-aside__text {
        font-size: 35px;
        bottom: 140px;
    }

    .home-aside__btn {
        width: 125px;
        height: 50px;
        bottom: 60px;
        font-size: 16px;
    }

    .home-screen {
        padding: 0 var(--bigger-horizontal-space);
    }

    .home-screen__location {
        margin: 10px 0 20px 0;
        font-size: 30px;
    }

    .home-screen__title {
        font-size: 27px;
        padding-bottom: 25px;
    }

    .home-location__name {
        font-size: 25px;
        padding: 20px 0 0 15px;
    }

    .home-location__distance {
        font-size: 16px;
        font-weight: 300;
    }

    .home-experiment__text {
        font-size: 38px;
        top: 30px;
        left: 30px;
    }

    .home-main__btn {
        font-size: 18px;
        font-weight: 500;
    }

    .home-experiment__btn {
        top: 125px;
        left: 30px;
    }

    .home-screen__qna {
        margin: 50px 0;
    }

    .home-qna__title {
        top: 50px;
        left: 50px;
        font-size: 55px;
    }

    .home-qna__btn {
        bottom: 40px;
        left: 50px;
    }

    .home-footer {
        padding: 0 var(--bigger-horizontal-space);
    }

    .home-footer-list {
        padding: 10px 0 0 0;
        flex-direction: column;
    }

    .home-footer__section {
        width: 100%;
        padding: 30px 0 15px 0;
        border-bottom: 1px solid var(--little-gray);
    }

    .home-footer__section:last-child {
        border-bottom: none;
    }

    .home-footer__title {
        margin-bottom: 15px;
    }

    .home-footer__ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home-footer__a {
        font-size: 15px;
    }

    .home-footer-inc {
        flex-direction: column-reverse;
        font-size: 15px;
    }

    .home-footer__right {
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .home-footer-language__text {
        font-weight: 600;
    }

    .home-footer-icons {
        margin-left: 30px;
    }

    .home-footer-inc__left {
        flex-direction: column;
        justify-content: center;
    }

    .home-footer-title {
        padding-bottom: 10px;
    }

    .home-footer-policy__item:first-child:before {
        content: none;
    }
}

@media screen and (min-width: 1440px) {
    .home-aside__text {
        font-size: 48px;
    }

    .home-screen__title {
        font-size: 43px;
    }

    .home-qna__title {
        font-size: 100px;
    }
}

@media screen and (min-width:1760px) {
    /* 1760px 이상의 너비일 경우 max-width를 1760px로 고정시킨 후 padding 값을 늘려준다 */
    .welcome-header,
    .home-screen,
    .home-aside,
    .home-footer  {
        padding: 0 calc( (100% - var(--biggest-width)) / 2);
    }

    .privacy-box {
        margin: 0 calc( (100% - var(--biggest-width)) / 2);
    }
}