.home-screen {
    padding: 0 var(--biggest-horizontal-space);
}

.covid-alert {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--bigger-horizontal-space);
}

.covid-alert__a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: underline;
    font-size: 14px;
    text-align: center;
}

.covid-alert__a:hover {
    color: var(--little-gray);
}

.welcome-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 75px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 3;
}

.welcome-header__logo-img {
    width: 120px;
    height: 45px;
    background-color: black;
}

.welcome-header__list {
    text-align: center;
    padding-left: 8%;
}

.welcome-header__item {
    display: inline-block;
    padding: 0 15px;
}

.welcome-header__a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
}

.welcome-header__a::after {
    display: block;
    content: '';
    border-bottom: 2px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.welcome-header__a:hover {
    color: var(--little-gray); 
}

.welcome-header__a:hover::after {
    transform: scaleX(1);       
}

.welcome-header__settings {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-header__btn:first-child,
.welcome-header__btn:nth-child(2) {
    padding: 15px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.welcome-header__btn:first-child:hover,
.welcome-header__btn:nth-child(2):hover {
    background-color: #262626;
}

.welcome-header__btn:nth-child(3) {
    width: 83px;
    height: 45px;
    border: none;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #717171;
}

.welcome-header__mobile-btn {
    display: none;
}

.search-div {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    width: 100%;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70px;
    border-radius: 40px;
}

.search-form__input {
    height: 70px;
    position: relative;
}

.search-form__input:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.search-form__input:hover input{
    background-color: #ebebeb;
}

.search-form__input:focus-within{
    background-color: white;
}

.search-form__input:focus-within:first-child {
    box-shadow: 20px 0 50px -20px gray;
}

.search-form__input:focus-within:nth-child(2),
.search-form__input:focus-within:nth-child(3) {
    box-shadow: 20px 0 50px -20px gray, -20px 0 50px -20px gray;
}

.search-form__input:focus-within:nth-child(4) {
    box-shadow: -20px 0 50px -20px gray;
}

.search-form__input:focus-within input{
    background-color: white;
}

.search-form__input input {
    border: none;
    display: block;
    margin-left: 30px;
    width: 130px;
    font-size: 14px;
}

.search-form__input input:focus {
    outline: none;
}

.search-form__place {
    width: 270px;
    border-radius: 40px;
}

.search-form__input::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    height: 35px;
    border-left: 0.5px solid var(--little-gray);
}

.search-form__input:first-child::before {
    content: none;
}

.search-form__input:hover::before,
.search-form__input:focus-within::before {
    display: none;
}

.search-form__input:first-child:hover + .search-form__input:nth-child(2)::before,
.search-form__input:nth-child(2):hover + .search-form__input:nth-child(3)::before,
.search-form__input:nth-child(3):hover + .search-form__input:last-child::before,
.search-form__input:first-child:focus-within + .search-form__input:nth-child(2)::before,
.search-form__input:nth-child(2):focus-within + .search-form__input:nth-child(3)::before,
.search-form__input:nth-child(3):focus-within + .search-form__input:last-child::before{
    display: none;
}

.search-form__title {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin: 18px 0 6px 32px;
}

.search-form__check-in,
.search-form__check-out  {
    width: 180px;
    border-radius: 40px;
}

.search-form__number {
    width: 210px;
    border-radius: 40px;
    position: relative;
}

.search-form__number-btn {
    position: absolute;
    top:10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #ff3152;
    transition: all 0.3s ease-in-out;
}

.search-form__number-btn:hover {
    background-color: #d71258;
}

.search-form__number-btn:hover div[class="search-form__number"]{
    background-color: white;
}

.home-aside {
    width: 100%;
    padding:0 75px 90px 75px;
    box-sizing: border-box;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-aside__image {
    width: 100%;
    height: 50%;
    border-radius: 2%;
}

.home-aside__text {
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 250px;
}

.home-aside__btn {
    position: absolute;
    bottom: 150px;
    background-color: white;
    width: 145px;
    height: 60px;
    border: none;
    border-radius: 60px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.home-aside__btn-text {
    background: linear-gradient(to right, #6a008f, #9e1587);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-screen__location {
    margin: 80px 0 40px 0;
}

.home-screen__title {
    display: block;
    font-size: 33px;
    font-weight: 500;
    padding: 50px 0;
}

.home-location-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 28vw;
}

.home-location__box {
    width: 23.5%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.home-location__a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}

.home-location__a:visited {
    color: white;
}

.home-location__seoul {
    background-color: #b51a62;
}

.home-location__incheon {
    background-color: #da2c48;
}

.home-location__daegu {
    background-color: #c62841;
}

.home-location__daejeon {
    background-color: #d5342d;
}

.home-location__picture {
    width: 100%;
    height: 50%;
}

.home-location__name {
    display: block;
    font-size: 35px;
    padding: 20px 15px;
}

.home-location__distance {
    font-size: 20px;
    padding-left: 15px;
}

.home-experiment-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56vw;
}

.home-experiment-box {
    width: 49%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.home-experiment__img {
    width: 100%;
    height: 100%;
}

.home-experiment__text {
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 50px;
    color: white;
}

.home-experiment__btn {
    position: absolute;
    top: 220px;
    left: 80px;
}

.home-screen__qna {
    margin: 100px 0 100px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.home-qna__img {
    width: 100%;
    height: 100%;
}

.home-qna__title {
    position: absolute;
    top: 85px;
    left: 80px;
    color: white;
    font-size: 80px;
    font-weight: 500;
}

.home-qna__btn {
    position: absolute;
    bottom: 80px;
    left: 80px;
}

.home-footer {
    padding: 0 var(--biggest-horizontal-space);
    background-color: #f7f6f6;
}

.home-footer-list {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.home-footer__section {
    width: 25%;
}

.home-footer__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
}

.home-footer__li {
    margin-bottom: 20px;
}

.home-footer__a {
    font-size: 14px;
    font-weight: 400;
    color: #201f1f;
    text-decoration: none;
}

.home-footer__a:hover {
    text-decoration: underline;
}

.home-footer-inc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--little-gray);
    padding: 25px 0;
    font-size: 14px;
    color: #201f1f;
    font-weight: 400;
}

.home-footer-inc__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-footer-policy {
    margin-left: 5px;
}

.home-footer-policy__item {
    display: inline-block;
}

.home-footer-policy__item::before {
    content: "\00b7";
    padding: 0 5px;
}

.home-footer__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home-footer-language {
    width: 210px;
}

.home-footer-language__btn {
    margin-left: 15px;
    border: none;
    background-color: #f7f6f6;
    cursor: pointer;
}

.home-footer-language__text {
    font-weight: 500;
    text-decoration: underline;
    padding-left: 5px;
}

.home-footer-icons {
    width: 170px;
    text-align: right;
}

.home-footer-icons__icon {
    padding-left: 20px;
    cursor: pointer;
}

.privacy-box {
    padding: 0px var(--biggest-horizontal-spacehorizontal-space);
    position: fixed;
    bottom: 50px;
}

.privacy {
    /* width: 100%; */
    /* 있어도 되는지 모르겠다 */
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 5px 20px -5px #666666;
}

.privacy-title {
    padding: 25px 0 0px 25px;
    margin-bottom: 5px;
}

.privacy-title__text {
    color: #403f3f;
    font-weight: 700;
    margin-right: 10px;
}

.privacy-title__icon {
    color: #3781fa;
}

.privacy-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 25px 25px;
}

.privacy-content__text {
    font-size: 14px;
    font-weight: 400;
    color: #515151;
    line-height: 18px;
    width: 80%;
    word-break: keep-all;
}

.privacy-btn-box {
    width: 300px;
    height: 70px;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.privacy-btn-box__button {
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.privacy-btn-box__button-white {
    width: 105px;
    background-color: white;
    color: black;
    border:1px solid black;
}

.privacy-btn-box__button-black {
    width: 160px;
    background-color: #1f1f1f;
    color: white;
    border: none;
}

.privacy-btn-box__button-white:hover {
    background-color: #f7f8f7;
}

.privacy-btn-box__button-black:hover {
    background-color: black;
}